/*navbar
*/#navbar_text{
	color: rgb(50,50,50);
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}
#navbar_text:hover{
	color: rgb(247, 147, 42);
}
.navbar{
	background-color: white;
	height: 42px;
}
#logo{
	height: 40px;
	position: relative;
	top: -10px;
	width: auto;
}
/*page format
*/.background{
	background-image: url("/images/back.jpg");
	background-size: cover;
	height: 100%;
	margin-top: -20px;
}
.top-row{
	margin-top: 60px;
}
.info_text{
	font-size: 18px;
}
/*charts
*/
canvas{
/*	height: 500px;
*/	width: 700px;
}
/*//footer// 
*/
h1{
	font-family: 'Poppins', sans-serif;
	font-size: 78px;
	color: white;
}
p{
	font-family: 'Raleway', sans-serif;
}

#search_form{
	display: none;
}
#search_button{
	margin: 5px auto;
	font-size: 30px;
}
#button_div{
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
footer {
	text-transform: uppercase;
	padding: 5px 20px;
	background-color: rgba(30,30,30,.4);
	font-size: 14px;
	letter-spacing: .09em;
	font-weight: 900;
}
.copyright {
	font-family: 'Poiret One', cursive;
	float: left;
}
.message {
	font-family: 'Poiret One', cursive;
	float: right;
}
.name {
	color: #F15B31;
	font-weight: 1000;
}
sub{
	vertical-align: sub;
    font-size: smaller;
}