/*navbar
*/#navbar_text{
	color: rgb(50,50,50);
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}
#navbar_text:hover{
	color: rgb(247, 147, 42);
}
.navbar{
	background-color: white;
	height: 42px;
}
#logo{
	height: 40px;
	position: relative;
	top: -10px;
	width: auto;
}
/*page format
*/
.background{
	background-image: url("/images/back.jpg");
	background-size: cover;
	height: 100%;
	margin-top: -20px;
}
.top-row{
	margin-top: 60px;
}
.info_text{
	font-size: 20px;
}
.area_text{
	font-size: 20px;
	margin-bottom: 25px;
}
/*charts
*/
canvas{
/*	height: 500px;
*/	width: 700px;
}
#avgChart{
	margin-top: -40px;
}
/*//footer// 
*/
h1{
	font-family: 'Poppins', sans-serif;
	font-size: 78px;
	color: white;
}
p{
	font-family: 'Raleway', sans-serif;
}

#search_form{
	display: none;
}
#search_button{
	margin: 5px auto;
	font-size: 30px;
}
#search_button:hover{
	text-decoration: underline;
	color: rgb(0,173,206);
}
.save_button{
	margin: 15px auto;
	font-size: 20px;
}
.save_button:hover{
	text-decoration: underline;
	color: rgb(0,173,206);
}
.button_div{
	text-align: center;
}
.label_div{
	margin-left: 50%;
}
#submit_button{
	margin: 5px auto;
	font-size: 20px;
}
#submit_button:hover{
	text-decoration: underline;
	color: rgb(0,173,206);
}
.trip_data{
	font-size: 20px;
}
.value{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}
.key{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 900;
	margin-bottom: 10px;
	color: rgb(0,82,165);
}
.datarow{
	margin-bottom: 24px;
}
.trips_header{
	margin-bottom: 25px;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}
.table_class{
	height: 400px;
	overflow: scroll;
	text-align: center;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
footer {
	text-transform: uppercase;
	padding: 5px 20px;
	background-color: rgba(30,30,30,.4);
	font-size: 14px;
	letter-spacing: .09em;
	font-weight: 900;
}
.copyright {
	font-family: 'Raleway', sans-serif;
	float: left;
}
.message {
	font-family: 'Raleway', sans-serif;
	float: right;
}

sub{
	vertical-align: sub;
    font-size: smaller;
}