/*navbar
*/#navbar_text{
	color: rgb(50,50,50);
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}
#navbar_text:hover{
	color: rgb(247, 147, 42);
}
.navbar{
	background-color: white;
	height: 42px;
}
#logo{
	height: 40px;
	position: relative;
	top: -10px;
	width: auto;
	margin-right: 10px;
}
h4.black_text {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: rgb(30,30,30);	
	text-align: center;
}
/*page format
*/
.background{
	background-image: url("/images/back.jpg");
	background-size: cover;
	height: 100%;
	margin-top: -20px;
}
.body-section{
	background-color: white;
	height: 40vh;
}
.top-row{
	margin-top: 60px;
}
.info_text{
	font-size: 20px;
}
.area_text{
	font-size: 20px;
	margin-bottom: 25px;
}
/*charts
*/
canvas{
/*	height: 500px;
*/	width: 700px;
}
#avgChart{
	margin-top: 0px;
}
/*//footer// 
*/
h1{
	font-family: 'Poppins', sans-serif;
	font-size: 84px;
	color: black;
}
h2{
	font-family: 'Poppins', sans-serif;
	color: black;
	font-size: 54px;
	font-weight: 800;
	margin-bottom: 30px;
	text-transform: capitalize;
	text-align: center;
}
h3{
	font-family: 'Poppins', sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 800;
	margin-bottom: 18px;
}
p{
	font-family: 'Raleway', sans-serif;
}

#search_form{
	display: none;
	background-color: #9CBDB0;
	padding: 20px;
	margin-top: -60px;
}
.search_button{
	border: solid black;
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: #41687B;
	border-radius: 5px;
	margin: 5px auto;
	padding: 5px 12px;
	font-size: 24px;
}
.search_button:hover{
	background-color: white;
	color: #41687B;
	text-decoration: none;
}
.error_button{
	border: solid black;
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: #41687B;
	border-radius: 5px;
	margin: 5px auto;
	padding: 5px 12px;
	font-size: 24px;
	width: 200px;
}
.error_button:hover{
	background-color: white;
	color: #41687B;
	text-decoration: none !important;
}

#submit_button{
	border: solid black;
	font-family: 'Poppins', sans-serif;
	background-color: white;
	color: #41687B;
	border-radius: 5px;
	margin: 5px auto;
	font-size: 18px;
}

#submit_button:hover{
	background-color: black;
	color: white;
}
.save_button{
	border: solid black;
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: #41687B;
	border-radius: 5px;
	margin: 5px auto;
	padding: 5px 12px;
	font-size: 24px;
	width: 200px;
}
.save_button:hover{
	background-color: white;
	color: #41687B;
	text-decoration: none !important;
}

.error-div{
	text-align: center;
	height: 60vh;
}
.button_div{
	text-align: center;
}
.label_div{
	margin-left: 50%;
}
.trip_data{
	font-size: 20px;
}
.value{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}
.key{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 900;
	margin-bottom: 10px;
	color: #674075;
}
.datarow{
	margin-bottom: 24px;
}
.trips_header{
	margin-bottom: 25px;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}
.table_class{
	height: 400px;
	overflow: scroll;
	text-align: center;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.auth_submit{
	font-family: 'Raleway', sans-serif;
	color: black;
	margin-bottom: 15px;
	font-size: 18px;
	background-color: inherit;
	border: none;
	margin: auto;
	display: block;
}
.auth_submit:hover{
	color: white;
	text-decoration: underline;
}
.auth_format{
	font-family: 'Raleway', sans-serif;
	background-color: transparent;
	padding: 15px 15px;
	color: rgb(195,195,195);	
}
.auth-input{
	font-family: 'Raleway', sans-serif;
	background-color: transparent;
	font-size: 14px;
	color: white;
	letter-spacing: 2px;	
}
.signin-form{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: black;	
}
footer {
	text-transform: uppercase;
	padding: 5px 20px;
	background-color: rgb(10,10,10);
	font-size: 14px;
	letter-spacing: .09em;
	font-weight: 900;
	color: white;
}
.copyright {
	font-family: 'Raleway', sans-serif;
	float: left;
}
.message {
	font-family: 'Raleway', sans-serif;
	float: right;
}
.name {
	font-family: 'Raleway', sans-serif;
	color:	#9CBDB0;
}

sub{
	vertical-align: sub;
    font-size: smaller;
}